@{
    ViewData["Title"] = "Shop";
}

<section class="container py-5">
    <h2 class="mb-4 text-center">Browse All Products</h2>
    <p class="text-center">Explore our complete collection for men, women, and kids.</p>
    <div class="text-center">
        <a class="btn btn-outline-dark m-2" href="#">Men</a>
        <a class="btn btn-outline-dark m-2" href="#">Women</a>
        <a class="btn btn-outline-dark m-2" href="#">New Arrivals</a>
        <a class="btn btn-outline-dark m-2" href="#">Sale</a>
    </div>
</section>
